<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Example of loop</title>
</head>
<body>
<footer id="fragmentTag" th:fragment="footer1(${title},${subtitle})">
<div class="container">
<h1>hello </h1>
<h1 th:text="${title}"></h1>
<h2 th:text="${subtitle}"></h2>
<h2>i am a btech student</h2>


<p>jdnweiubewucbewu eubuyewbc weybcuyebc dybewuycbwecuybwc wdbcwdcbudwcwdb cwehde2tde2ue ewghbnwqoidhwey dweicbw bweucwe</p>


</div>


</footer>



</body>
</html>
