<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>this is home page</title>


</head>
<body>

<section class="banner d-flex justify-content-center align-items-center">
<div class="text-center">
<h1 class="font-weight-bold">Smart contact manager</h1>
<p>
start C0llecting your contact in very smarter way .we provide very efficient and smarter way of handling contact.
</p>
<button class="btn bg-primary btn-lg text-white" >Get start</button>

<hr/>

<h2 class="myy-3" >Donate Us</h2>
<div>

<input id="payment_field" type="text" class="form-control my-2" placeholder="enter amout here" />



<div class="container text-center mt-4">
     <button onclick="paymentStart()" class="btn btn-success btn-block" >PAY</button>
</div>


</div>



</div>
</section>

</body>
</html>